home-page {
    
    .home {
        background-image: url('../assets/imgs/background.png');
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;

        .no-results {
            color: white;

            p {
                font-style: italic;
            }
        }
    }
}
