<ion-header no-border>
  <ion-navbar transparent>
    <ion-searchbar
      [(ngModel)]="myInput"
      (ionInput)="onInput($event)">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content class="home" padding>
  <ion-item *ngFor="let result of results" (click)="getWeather(result.name)">
    <result-item [result]="result"></result-item>
  </ion-item>
  <div *ngIf="results.length === 0" class="no-results">
    <p text-center>You don't have any results,</p>
    <p text-center>please try introducing your city name.</p>
  </div>
</ion-content>