<ion-header no-border class="weather-header">
    <ion-navbar transparent>
        <ion-title text-center *ngIf="current">
           {{ location.name }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="weather" *ngIf="forecast" padding>
    <ion-grid class="current-info">
        <ion-row>
            <ion-col class="temperature-col">
                <div class="temperature">
                    {{ current.temp_c }}
                </div>
            </ion-col>
            <ion-col class="icon-col">
                <ion-row>
                    <ion-icon class="celsius-icon" name="wi-celsius"></ion-icon>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="condition-text">
            <ion-col>
                <div>
                    {{ current.condition.text }} 
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                Real Feel {{ current.feelslike_c }}
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="more-info">
        <ion-row>
            <ion-col col-4>
                <ion-row>
                    <ion-icon name="water"></ion-icon>
                </ion-row>
                <ion-row>{{ current.humidity }}%</ion-row>
            </ion-col>
            <ion-col col-4>
                <ion-row>
                    <ion-icon name="wi-thermometer"></ion-icon>
                </ion-row>
                <ion-row>{{ current.max_c }} / {{ current.min_c }}</ion-row>
            </ion-col>
            <ion-col col-4>
                <ion-row>
                    <ion-icon name="wi-wind"></ion-icon>
                </ion-row>
                <ion-row>{{ current.wind_mph }}m/h</ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="astro-info">
        <ion-row>
            <ion-col col-3>
                <ion-row>
                    <ion-icon name="wi-sunrise"></ion-icon>
                </ion-row>
                <ion-row>{{ current.astro.sunrise }}</ion-row>
            </ion-col>
            <ion-col col-3>
                <ion-row>
                    <ion-icon name="wi-sunny"></ion-icon>
                </ion-row>
                <ion-row>{{ current.astro.sunset }}</ion-row>
            </ion-col>
            <ion-col col-3>
                <ion-row>
                    <ion-icon name="wi-weather2"></ion-icon>
                </ion-row>
                <ion-row>{{ current.astro.moonrise }}</ion-row>
            </ion-col>
            <ion-col col-3>
                <ion-row>
                    <ion-icon name="wi-moon"></ion-icon>
                </ion-row>
                <ion-row>{{ current.astro.moonset }}</ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="forecast">
        <ion-row>
            <ion-col>
                <ion-scroll scrollX="true">
                    <forecast-item *ngFor="let hour of today.hour" class="scroll-item selectable-icon" [hour]="hour"></forecast-item>
                </ion-scroll>
            </ion-col> 
        </ion-row>
    </ion-grid>
    <ion-grid class="forecast" >
        <ion-row>
            <ion-col>
                <ion-scroll scrollX="true">
                    <forecast-item [forecastClickable]="day" *ngFor="let day of forecast" class="scroll-item selectable-icon" [day]="day" padding></forecast-item>
                </ion-scroll>
            </ion-col> 
        </ion-row>
    </ion-grid>
    <ion-grid class="astro-info">
        <ion-row>
            <ion-col col-3 *ngFor="let phase of moonphases">
                <ion-row>
                    {{ phase.phase }}
                </ion-row>
                <ion-row>
                    <img height="32" width="32" [src]="phase.img">
                </ion-row>
                <ion-row>
                    {{ phase.time }}
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>