<ion-header>
    <ion-navbar>
        <ion-title *ngIf="current">
           {{ location.name }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="weather" padding>
    <ion-grid class="current" *ngIf="current">
        <ion-row>
            <ion-col>
                <div class="temperature">{{ current.temp_c }}º</div>
            </ion-col>
            <ion-col>
                <div class="humidity">Humidity {{ current.humidity}}%</div>
                <div class="feelslike">Feels like {{ current.feelslike_c }}º</div>
                <div class="wind">Wind {{ current.wind_mph }} mph</div>
            </ion-col>
        </ion-row>
    </ion-grid>
    
    <ion-segment *ngIf="forecast" [(ngModel)]="segmentSelected" 
                 (ionChange)="segmentChanged($event)">
        <ion-segment-button value="0">
            Today
        </ion-segment-button>
        <ion-segment-button value="1">
            Tomorrow
        </ion-segment-button>
        <ion-segment-button value="2">
            After tomorrow
        </ion-segment-button>
    </ion-segment>
    <div class="scrollable" *ngIf="daySelected">
        <ion-list>
            <ion-scroll scrollY="true">
                <ion-item *ngFor="let hour of daySelected.hour">
                    <ion-avatar item-left>
                        <img [src]="hour.condition.icon">
                    </ion-avatar>
                    <p>Temperature {{ hour.temp_c}}º</p>
                    <p>Feels like {{ hour.feelslike_c}}º</p>                
                    <p>Humidity {{ hour.humidity}}%</p>
                </ion-item>
            </ion-scroll>
        </ion-list>
    </div>
</ion-content>
