weather-page {
    
    .weather-header {
        background: rgba(0, 0, 0, 0.2);
        ion-navbar {
            .back-button {
                z-index: 9;
                color: black;
            }

            .toolbar-content {
                width: 100%;
                position: absolute;

                .toolbar-title {
                    color: black;
                }
            }
        }
    }

    .weather {
        background-image: url('../assets/imgs/sunny.jpg');
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;

        .scroll-content {
            background: rgba(0, 0, 0, 0.2);
        }

        .current-info {
            ion-col {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .temperature-col {
                align-items: flex-end;

                .temperature {
                    font-size: 10rem;
                }
            }

            .icon-col {
                align-items: flex-start;

                .celsius-icon {
                    &::before {
                        font-size: 7rem;   
                    }
                }
            }

            .condition-text {
                .weather-icon {
                    &::before {
                        font-size: 1.5rem;   
                    }
                }
            }
        }

        .more-info, .astro-info {
            background-color: rgba(255,255,255,0.4);
            margin-top: 5px;
            
            ion-col {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-right: 1px solid;

                &:last-child() {
                    border-right: none;
                }
            }

            .icon.icon-md.ion-md-water {
                font-size: 26px;
            }
        }

        .forecast {
            background-color: rgba(255,255,255,0.4);
            margin-top: 5px;
            
            ion-row {
                ion-col {
                    padding: 0px;
                }
            }
            
            forecast-item {
                border-right: 1px solid;

                &:last-child() {
                    border-right: none;
                }

                ion-row {
                    display: flex;
                    justify-content: center;
                }
            }

            ion-scroll[scrollX] {
                white-space: nowrap;
                height: 75px;
                overflow: hidden;

                .scroll-content {
                    background-color: transparent;
                    padding: 0;
                }

                .scroll-item {
                    display: inline-block;
                }

                .selectable-icon{
                    padding: 6px;
                    color: black;
                }
            }
        }
    }
}